[submodule "home/.vim/pack/dist/start/vim-airline"]
	path = home/.vim/pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "home/.vim/pack/dist/start/gruvbox-material"]
	path = home/.vim/pack/dist/start/gruvbox-material
	url = https://github.com/gruvbox-material/vim.git
